---
import Section from "@/components/Section.astro";
---

<Section>
  <div class="flex flex-col space-y-2">
    <h2 class="font-bold">About me</h2>
    <p class="text-gray-800">
      Lorem ipsum dolor sit amet. Est natus perspiciatis in debitis illo eum
      vitae aliquid. Qui inventore enim At ducimus autem et animi autem id
      suscipit similique. Rem dolorum natus et tempore saepe aut sunt cupiditate
      ut nemo minima. Ea blanditiis voluptatem aut beatae sint vel voluptatem
      dolorem qui voluptas aspernatur ut earum commodi.
    </p>
  </div>
</Section>
