---
import Section from "@/components/Section.astro";
---

<Section>
  <div class="flex flex-col">
    <p class="text-gray-800">
      Lorem ipsum dolor sit amet. Est natus perspiciatis in debitis illo eum
      vitae aliquid. Qui inventore enim At ducimus autem et animi autem id
      suscipit similique.
    </p>
  </div>
</Section>
