---
import Section from "@/components/Section.astro";
import { about } from "@/data/es.json";
---

<Section>
  <div class="flex flex-col">
    <p class="text-gray-800">
      {about}
    </p>
  </div>
</Section>
