---
import Section from "@/components/Section.astro";
---

<Section>
  <div class="flex flex-col space-y-2">
    <div class="w-full border-b-2 pb-1 border-gray-300">
      <h2 class="font-bold">Experience</h2>
    </div>
    <article>
      <header>
        <div>
          <div class="flex justify-between w-full font-medium">
            <h3>Calafia Airlines</h3>
            <h4>2018 - 2020</h4>
          </div>
          <h4 class="text-gray-800">iOS and ReactJS Developer</h4>
        </div>
      </header>
      <footer>
        <p class="text-gray-800">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          voluptates, quod, quae, quibusdam, doloremque quia quos voluptatem
          voluptatum quas quae quibusdam, doloremque quia quos voluptatem
          voluptatum quas.
        </p>
      </footer>
    </article>
    <article>
      <header>
        <div>
          <div class="flex justify-between w-full font-medium">
            <h3>Freelance</h3>
            <h4>2020 - 2023</h4>
          </div>
          <h4 class="text-gray-800">Fullstack Developer</h4>
        </div>
      </header>
      <footer>
        <p class="text-gray-800">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          voluptates, quod, quae, quibusdam, doloremque quia quos voluptatem
          voluptatum quas quae quibusdam, doloremque quia quos voluptatem
          voluptatum quas.
        </p>
      </footer>
    </article>
    <article>
      <header>
        <div>
          <div class="flex justify-between w-full font-medium">
            <h3>Peribus Metropolitano</h3>
            <h4>2024 - Current</h4>
          </div>
          <h4 class="text-gray-800">Fullstack Developer</h4>
        </div>
      </header>
      <footer>
        <p class="text-gray-800">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          voluptates, quod, quae, quibusdam, doloremque quia quos voluptatem
          voluptatum quas quae quibusdam, doloremque quia quos voluptatem
          voluptatum quas.
        </p>
      </footer>
    </article>
  </div>
</Section>
