---
import Section from "@/components/Section.astro"
import Javascript from "@/Icons/Javascript.astro"
import Typescript from "@/Icons/Typescript.astro"
import Node from "@/Icons/Node.astro"
import Php from "@/Icons/Php.astro"
import Html from "@/Icons/Html.astro"
import Css from "@/Icons/Css.astro"
import Tailwind from "@/Icons/Tailwind.astro"
import React from "@/Icons/React.astro"
import Next from "@/Icons/Next.astro"
import Astro from "@/Icons/Astro.astro"
import Express from "@/Icons/Express.astro"
import Nestjs from "@/Icons/Nestjs.astro"
import Mysql from "@/Icons/Mysql.astro"
import Postgres from "@/Icons/Postgres.astro"
import Mongo from "@/Icons/Mongo.astro"
---

<Section>
  <div class="flex flex-col space-y-2">
    <div class="w-full border-b-2 pb-1 border-gray-300">
      <h2 class="font-bold">Skills</h2>
    </div>
  </div>
</Section>