---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/components/sections/Hero.astro"
import About from "@/components/sections/About.astro"
import Experience from "@/components/sections/Experience.astro"
import Education from "@/components/sections/Education.astro"
import Skills from "@/components/sections/Skills.astro"
---

<Layout>
	<main class="p-8 md:p-16 m-auto">
		<Hero />
		<About />
		<Experience />
		<Education />
		<Skills />
	</main>
</Layout>