---

---

<!doctype html>
<html lang="es" class="bg-white tracking-tight">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eduardo Vargas</title>
  </head>
  <body class="m-0 p-0">
    <slot />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
</style>
